body {
    background-image: url(Img/2017-04-08-09-23-30.jpg);
}

.Header1 {
    font-family: Copperplate;
    color: Blue;
}

.Header2 {
    font-family: Arial;
    color: Teal;
}

.Header3 {
    font-family: Arial;
    color: olive;
}

p,
ul {
    font-family: Helvetica;
    color: white;
}
